<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Full Menu</h1>
<% menu.forEach((myMenu) => { %>
    <p><%= myMenu.name %></p>
    <p><%= myMenu.price %></p>
    <p><%= myMenu.rating %></p>
    <p><%= myMenu.details %></p>
<%}); %>
<!-- The loop above is probably wrong because it is infinite looping and not sure why. -->
</body>
</html>


